.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.error-message {
  color: red;
  visibility: hidden;
  margin: 0 auto;
}

.error-message.visible {
  visibility: visible;
  transition: visibility 0.2s ease;
}