// #207FEE bleu logo
// #FF8141 orabge logo
// #FA3399 rose logo
// #050C30 texte logo

$primary: #207FEE;
$warning: #F69F1D;
$success: #2E7D32;
$error: #D32F2F;

$bg: #ffffff;
$bg-alt: #f5f5f5;
$text: #050C30;

$accent-orange: #B45A2E;
$accent-blue: #1C79CD;

$border: #333;
$shadow: rgba(5, 12, 48, 0.5);
