// #207FEE bleu logo
// #FF8141 orange logo
// #FA3399 rose logo
// #050C30 texte logo

//Theme palette


$primary: #207FEE;
$warning: #F69F1D;
$success: #66BB6A;
$error: #EF5350;

$bg: #121212;
$bg-alt: #1E1E1E;
$text: #ffffff;

//borders
$border: #e0e0e0;
$shadow: #FFFFFF7F;